#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-content {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.header .link {
  border-radius: 16px;
  background-color: rgba(16, 28, 37, 0.3);
  padding: 4px 16px;
  margin: 0;
  transition: 0.2s;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(214, 255, 218, 0.3);
  box-shadow: 0px 0px 5px rgba(27, 95, 148, 0.4) inset;
}

.link div {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.header .link:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 1px rgba(170, 254, 255, 0.5);
}

.container {
  background-color: rgba(12, 7, 101, 0.05);
  border: solid 1px rgba(214, 255, 218, 0.3);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  padding: 16px 32px 32px 32px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 80px rgba(97, 174, 170, 0.5) inset;
}

.random-image {
  flex-grow: 3;
  border: 1px solid rgba(255, 255, 255, 0.25);
  min-height: 250px;
  border-radius: 16px;
  pointer-events: none;
  background-image: url("assets/ponyo2.png");
  background-size: 600px;
  width: 300px;
  flex-shrink: 0;
  background-position: center;
}

.random-image-detail {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  max-height: 300px;
  object-fit: cover;
  pointer-events: none;
  flex-grow: 3;
  width: 300px;
}

.random-image-bkg {
  position: relative;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-image: url("assets/ponyo2.png");
  background-size: 600px;
  filter: blur(50px) brightness(1.2);
  z-index: -1;
  flex-shrink: 0;
  background-position: center;
}

.header > div:first-child {
  border-radius: 16px;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  text-align: left;
  padding: 0px 0px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: none;
}

.statistics {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  z-index: 3;
}

.card {
  background-color: rgba(255, 254, 249, 0);
  box-shadow: 0px 0px 80px rgba(187, 252, 255, 0.5) inset;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 16px;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-height: 150px;
  justify-content: end;
  align-items: start;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

input {
  pointer-events: auto;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 64px;
  padding: 8px 32px 8px 16px;
  color: rgb(40, 53, 66);
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  flex-grow: 1;
}

select {
  appearance:none;
  pointer-events: auto;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 64px;
  padding: 8px 32px 8px 16px;
  color: rgb(40, 53, 66);
  font-weight: 500;
  font-size: 16px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  flex-grow: 1;
}

input::placeholder {
  color: rgb(40, 53, 66);
}

input:first-child {
  flex-grow: 0.8;
}

.cool-tab {
  z-index: -2;
  position: relative;
  right: 0;
  border-radius: 16px 16px 0px 0px;
  padding: 16px;
  background-color: rgba(255, 254, 249, 1); 
  color: rgb(40, 53, 66);
  flex-grow: 2;
  height: 16px;
  pointer-events: none;
  margin-bottom: -16px;
}

.list {
  border-radius: 16px 0px 16px 16px;
  padding: 16px;
  background-color: rgba(255, 254, 249, 1); 
  color: rgb(40, 53, 66);
  display: flex;
  flex-direction: column;
  gap: 8px;
  word-wrap: break-word;
  /*position: relative;
  background-color: rgba(255, 254, 249, );
  box-shadow: 0px 0px 80px rgba(187, 252, 255, 0.5) inset;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(16, 28, 37, 0.3);
  box-shadow: 0px 0px 80px rgba(79, 162, 192, 0.3) inset;*/
}

.list-detail {
  border-radius: 16px;
}

.list div:last-child hr {
  display: none;
}

.cool-tab svg {
  position: absolute;
  left: 0;
  top: 19px;
  margin-left: -24px;
  transform: rotate(270deg);
  z-index: -2;
}

.random-image-bkg-list {
  position: fixed;
  pointer-events: none;
  border-radius: 16px;
  left: 0;
  bottom: 20vh;
  width: 100%;
  height: 50vh;
  background-image: url("assets/ponyo2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  filter: blur(80px) brightness(1.2);
  opacity: 0.7;
  z-index: 0;
  flex-shrink: 0;
}

.random-image-bkg-list2 {
  position: fixed;
  pointer-events: none;
  border-radius: 16px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url("assets/ponyo2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  filter: blur(100px) brightness(1.2);
  opacity: 0.3;
  z-index: 2;
}

.card h1, p {
  margin: 0;
}

.fishcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  position: relative;
  border-radius: 16px;
}

.fishcard > div {
  font-size: 20px;
  font-weight: 400;
  width: 25%;
}

.fishcard > img {
  border-radius: 16px;
  width: 20%;
  aspect-ratio: 2.5;
  object-fit: cover
}

.fishcard > div > p:first-of-type {
  font-size: 16px;
  font-weight: 600;
}

.fishcard > p:first-of-type {
  font-size: 20px;
  font-weight: 500;
}

.fishcard-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  position: relative;
  border-radius: 16px;
}

.fishcard-detail > div {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 6px;
  font-size: 20px;
  font-weight: 400;
}

.fishcard-detail > div > p:first-of-type {
  font-size: 20px;
  font-weight: 600;
  text-wrap: nowrap;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.icon {
  pointer-events: none;
  z-index: 4;
  color: rgb(40, 53, 66);
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
}

.chart {
  flex-grow: 1;
  height: 300px;
  margin-bottom: 32px;
  border-radius: 16px;
  background-color: rgba(31, 53, 71, 0.3);
  padding: 4px 16px;
  margin: 0;
  transition: 0.2s;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(214, 255, 233, 0.465);
  box-shadow: 0px 0px 50px rgba(48, 107, 152, 0.4) inset;
}

.chart :focus {
  outline: none;
}

.chart-wrapper {
  display: flex;
  gap: 8px;
}